:root {
  --pablo: rgba(246, 168, 0, 1);
  --rogers: rgba(20, 254, 236, 1);
  --blanco: rgba(255, 255, 255, 1);
  --negro: rgba(0, 0, 0, 1);
  --rosa: rgba(255, 0, 157, 1);
  --morado: rgba(89, 0, 166, 1);
  --verde: rgba(174, 254, 0, 1);
  --ocano: rgba(54, 169, 188, 1);
  --b-50: rgba(255, 255, 255, 0.5);
  --b-10: rgba(75, 75, 75, 0.03);
  --n-50: rgba(0, 0, 0, 0.5);
  --n-10: rgba(255, 255, 255, 0.05);
  --rojo: rgba(255, 55, 55, 1);
  --transparente: rgba(217, 217, 217, 0);
  --hover: rgba(57, 46, 87, 1);
  --subtitulo: rgb(255, 255, 255, 0.2);
  --transparenteD: rgba(255, 255, 255, 0.2);
  --borde: rgb(255,255,255,0.4)
  
}

body.modo-dia {
  --n-50: rgba(255, 255, 255, 50); /* Modificar valores específicos para el día */
  --n-10: rgba(0, 0, 0, 0.03);
  --blanco: rgba(0, 0, 0, 100);
  --subtitulo: rgb(0, 0, 0, );
  --transparenteD: rgba(255, 255, 255, 0.5);
  --borde: rgb(0,0,0,0.1)
}